/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Basic Reset */
:root {
  --white: #fff;
  --primary: #A71F23;
  --active: #6F1215;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  background-color: var(--white);
  color: var(--primary);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navigation {
  position: fixed;
  /* width: 220px; */
  width: 60px;
  top: 0;
  left: 0;
  height: 100vh;
  background: var(--primary);
  z-index: 100;
  padding: 1.5rem 0.5rem 2rem;
  transition: 500ms;
}

.navigation.active {
  width: 220px;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
}

.nav .logo {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0.7rem 0.5rem 0.5rem 0.5rem;
  color: var(--white);
}
.logo-icon img{
  width: 40px;
}
.nav .logo .logo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  font-size: 2rem;
}

.nav .logo .logo-text {
  font-size: 1.4rem;
}

.nav .toggle {
  position: absolute;
  top: 2.7rem;
  right: -3rem;
  background-color: var(--active);
  width: 3rem;
  height: 3rem;
  line-height: 1.6rem;
  font-size: 2.8rem;
  color: white;
  cursor: pointer;
}

.nav .nav-link {
  display: flex;
  align-items: center;
  padding: 0.7rem 0.5rem 0.5rem 0.5rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  color: var(--white);
  transition: 500ms ease-in-out;
}

.nav .nav-link.active {
  background-color: var(--active);
  box-shadow: inset 0px 0 var(--white);
}


.nav .nav-link:hover {
  background-color: var(--active);
}

.nav .nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-right: 1.5rem;
  margin-left: 1rem;
}
main{
  margin-top: 60px;
  background: #f1f5f9;
  min-height: 90vh;
  padding: 1rem 3rem;
  
  }
.nav .nav-text {
  font-weight: 500;
}
.mentor-list{
  display: flex;
  flex-direction: row;
  left: 240px;
  margin-top: 5rem;
}
.main-button{
  display: flex;
  margin-top: 1.5rem;
}
.main-button a{
  background-color: var(--primary);
  border-radius: 7px;
  color: white;
  padding: 10px;
  margin-right: 1.5rem;
}
.main-button a:hover{
  background-color: var(--white);
  outline: 1px solid var(--primary);
  border-radius: 7px;
  color: var(--primary);
  padding: 10px;
}

.main-page .nav-icon{
align-items: center;
}
.main-page{
  display: flex;
  flex-direction: column;
  color: black;
  position: fixed;
  top: 80px;
  left: 240px;
}
.main-content{
  position: relative;
  margin-left: 240px;
  transition: margin-left 500ms;
  }
  
  header {
  position: fixed;
  top: 0;
  left: 240px;
  z-index: 100;
  width: calc(100% - 240px);
  background: rgba(255, 255, 255, 0);
  height: 60px;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  transition: left 500ms;
  
  }
  
  .search-wrapper{
  display: flex;
  align-items: center;
  }
  .search-wrapper input{
  border: 0;
  outline: 0;
  padding: 1rem;
  height: 38px;
  
  }